body{

margin:0;

padding:0;

font-family:Poppins;

background:#1e1eff;

overflow-x:hidden;

color:white;

text-align:center;

}

.overlay{

min-height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

}

.photo{

width:300px;

border-radius:50%;

box-shadow:0 0 40px white;

animation:float 4s infinite ease-in-out;

}

@keyframes float{

0%{

transform:translateY(0);

}

50%{

transform:translateY(-20px);

}

100%{

transform:translateY(0);

}

}

h1{

font-size:60px;

}

h2{

font-size:30px;

}

button{

padding:15px 40px;

font-size:20px;

border:none;

border-radius:30px;

cursor:pointer;

}
